@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');

.SplashScreen-container {
	width: 100vw;
	height: 100vh;

	background-color: #121212;
	/* background: url('./Assets//background.gif'); */
	background-repeat: no-repeat;
	background-size: cover;
	image-rendering: pixelated;

	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.main-logo-text {
	position: relative;
	color: white;
	font-family: 'VT323', monospace;
	padding: 16px;
}

.main-logo-text .box {
	width: 70%;
	height: 120%;
	border: 1px solid tomato;

	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.main-logo-text .box2 {
	width: 80%;
	height: 140%;
	border: 1px solid tomato;
}

.main-logo-text .box3 {
	width: 90%;
	height: 160%;
	border: 1px solid tomato;
}

.main-logo-text .box_mask {
	width: 100%;
	height: 100%;
	background-color: #121212;

	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	z-index: 2;
}

.main-logo-text .logo {
	font-size: 70px;
	letter-spacing: 10px;
	z-index: 3;
	position: relative;
}

.main-logo-text .subtitle {
	color: tomato;
	font-size: 20px;
	font-style: italic;

	position: absolute;
	bottom: 16px;
	right: 16px;
	z-index: 3;
}

.SplashScreen-container .start {
	margin-top: 5%;
	color: white;
	font-family: 'VT323', monospace;
	font-size: 20px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.SplashScreen-container .controls {
	margin-top: 5%;
	color: white;
	font-family: 'VT323', monospace;
	font-size: 20px;

	text-align: center;
}
