body {
	background-color: #191919;
}

.Modal-main {
	width: 100vw;
	height: 100vh;

	position: absolute;
	top: 0;
	left: 0;
	backdrop-filter: brightness(50%);
	z-index: 10;

	display: flex;
	justify-content: center;
	align-items: center;
}

.Modal-container {
	height: 500px;
	width: 500px;

	background-color: white;
	display: flex;
	justify-content: center;
	align-items: center;
}
