.Blocked-main {
	width: 100%;
	height: 100%;
	background-color: #121212;

	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.Blocked-main .logo {
	width: 60%;
	height: fit-content;
}

.Blocked-main .logo img {
	width: 100%;
	image-rendering: pixelated;
	object-fit: contain;
}

.Blocked-main .text {
	width: 60%;
	margin-top: 16px;
	text-align: center;

	color: white;
	font-family: 'VT323', monospace;
	font-size: 20px;
}
