<div class="PauseScreen-Container">
	<div class="gradient-filter"></div>
	<div class="logo-container">
		<div class="main-logo-text">
			<div class="logo crt">Lunar Lander</div>
			<div class="subtitle crt">See you in space, cowboy!</div>
			<div class="box"></div>
			<div class="box2 box"></div>
			<div class="box3 box"></div>
			<div class="box_mask"></div>
		</div>

		<div class="options">
			<div class="item crt resume">Resume</div>
			<div class="item crt controls">Controls</div>
			<div class="item crt report">Report a Bug</div>
		</div>

		<div class="icons">
			<img src="../../Assets/Icons/Mute.svg" alt="" />
		</div>
	</div>

	<div class="inject-html"></div>
</div>
