@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');

/**
 * ----------------------------------------
 * animation slide-right
 * ----------------------------------------
 */
@-webkit-keyframes slide-right {
	0% {
		-webkit-transform: translateX(-100px);
		transform: translateX(0);
		opacity: 0;
	}
	100% {
		-webkit-transform: translateX(0px);
		transform: translateX(100px);
		opacity: 100;
	}
}
@keyframes slide-right {
	0% {
		-webkit-transform: translateX(-100px);
		transform: translateX(0);
		opacity: 0;
	}
	100% {
		-webkit-transform: translateX(0px);
		transform: translateX(100px);
		opacity: 100;
	}
}

@-webkit-keyframes slide-opacity {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 100;
	}
}
@keyframes slide-opacity {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 100;
	}
}

.slide-right {
	-webkit-animation: slide-right 1s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
	animation: slide-right 1s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

.slide-opacity {
	-webkit-animation: slide-opacity 1s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
	animation: slide-opacity 1s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

.SplashScreen-container {
	width: 100vw;
	height: 100vh;

	/* background-color: #121212;
	background: url('https://github.com/F28WP-Dubai-Group-6/LunarLander/blob/master/Assets/Demo.gif');
	background-repeat: no-repeat;
	background-size: cover;
	image-rendering: pixelated; */
}

.SplashScreen-container img {
	width: 100vw;
	height: 100vh;

	position: absolute;
	top: 0;
	left: 0;

	object-fit: cover;
}

.gradient-filter {
	width: 100vw;
	height: 100vh;
	position: relative;

	background: linear-gradient(-45deg, #121212 40%, #ffffff00 100%);
}

.SplashScreen-container .logo-container {
	width: 40vw;
	height: 100vh;
	position: absolute;
	top: 0;
	right: 0;

	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.main-logo-text {
	position: relative;
	color: white;
	font-family: 'VT323', monospace;
	padding: 16px;

	pointer-events: none;
}

.main-logo-text .box {
	width: 70%;
	height: 120%;
	border: 1px solid tomato;
	box-shadow: 0px 0px 10px 0px rgba(255, 99, 71, 0.459);

	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.main-logo-text .box2 {
	width: 80%;
	height: 140%;
	border: 1px solid tomato;
}

.main-logo-text .box3 {
	width: 90%;
	height: 160%;
	border: 1px solid tomato;
}

.main-logo-text .box_mask {
	width: 100%;
	height: 100%;
	background-color: #121212;

	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	z-index: 2;
}

.main-logo-text .logo {
	font-size: 70px;
	letter-spacing: 10px;
	z-index: 3;
	position: relative;
}

.main-logo-text .subtitle {
	color: tomato;
	font-size: 20px;
	font-style: italic;

	position: absolute;
	bottom: 16px;
	right: 16px;
	z-index: 3;
}

.SplashScreen-container .username {
	margin-top: 5%;
	color: white;
	font-family: 'VT323', monospace;
	font-size: 20px;

	text-align: center;
	z-index: 2;

	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	width: 100%;
}

.SplashScreen-container .options {
	width: 50%;
	color: white;
	font-family: 'VT323', monospace;
	font-size: 20px;
	text-align: center;

	margin-top: 10%;

	z-index: 2;
}

.SplashScreen-container .options .item {
	border: 1px solid transparent;
	padding: 8px;
	cursor: pointer;
	transition: all 200ms ease-in-out;
	border-radius: 3px;
}

.SplashScreen-container .options .item:hover {
	border-color: tomato;
}

.SplashScreen-container .options .item.active {
	background-color: black;
	color: tomato;
	box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.596);
}

.SplashScreen-container .copyright {
	width: 50%;
	color: white;
	font-family: 'VT323', monospace;
	font-size: 15px;
	text-align: center;

	margin-top: 10%;

	z-index: 2;
	pointer-events: none;
}

.SplashScreen-container .icons {
	width: fit-content;
	height: fit-content;

	position: absolute;
	right: 0;
	bottom: 0;

	padding: 8px;
	margin: 16px;
	border-radius: 5px;

	cursor: pointer;

	filter: invert(100%);
	transition: all 200ms ease-in-out;
}

.SplashScreen-container .icons:hover {
	filter: invert(0%);
	background-color: white;
}

.SplashScreen-container .icons img {
	width: 25px;
	height: 25px;
}

.SplashScreen-container .controls-container .icons,
.SplashScreen-container .play-container .icons,
.SplashScreen-container .credits-container .icons {
	position: absolute;
	right: 0;
	top: 0;
}

.SplashScreen-container .inject-html-style {
	width: 100vw;
	height: 100vh;
	z-index: 1;
	position: absolute;
	top: 0;
	left: 0;

	background: linear-gradient(135deg, #121212 20%, #ffffff00 100%);
}

.SplashScreen-container .inject-html-style .controls-container {
	width: 50%;
	height: 100%;
	z-index: 2;

	color: white;
	font-family: 'VT323', monospace;
	font-size: 20px;
	text-align: center;

	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
}

.SplashScreen-container .inject-html-style .controls-container .controls {
	pointer-events: none;
}

.SplashScreen-container .inject-html-style .controls-container video {
	image-rendering: pixelated;
}

.SplashScreen-container .inject-html-style .controls-container video.scaleDown {
	width: 32px;
}

.SplashScreen-container .inject-html-style .controls-container .title {
	font-size: 30px;
	font-style: italic;
	color: tomato;
}

.play-container {
	width: 50%;
	height: 100%;
	z-index: 2;

	color: white;
	font-family: 'VT323', monospace;
	font-size: 20px;
	text-align: center;

	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.play-container table tbody tr td {
	padding: 8px;
	font-size: 30px;
	border: 1px solid transparent;
	border-radius: 3px;
	cursor: pointer;
	transition: all 100ms ease-in-out;
}

.play-container table tbody tr td:hover {
	background-color: black;
	color: tomato;
	border: 1px solid tomato;
}

.play-container .play-container-holder {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.play-container .play-container-holder .buttons {
	width: 100%;
	display: flex;
	justify-content: flex-end;
	align-items: center;
}

.play-container .title {
	font-size: 50px;
	margin: 8px;
}

.SplashScreen-container input {
	padding: 8px;

	border: 1px solid tomato;
	background-color: transparent;

	border-radius: 5px;
	text-align: center;
	margin: 4px;

	color: white;
	font-size: 20px;
	font-family: 'VT323', monospace;

	width: 100%;
	transition: all 100ms ease-in-out;
}

.SplashScreen-container input:focus {
	background-color: black;
	color: tomato;
	border: 1px solid tomato;
	outline: none;
}

.SplashScreen-container button {
	padding: 8px 32px;
	border-radius: 5px;
	background-color: white;
	text-align: center;
	margin: 4px;

	border: 1px solid tomato;
	background-color: transparent;

	box-shadow: 0px 0px 10px 0px #000000;

	color: white;
	font-size: 20px;
	font-family: 'VT323', monospace;
	cursor: pointer;
}

.SplashScreen-container .username button {
	background-color: #121212;
	box-shadow: 0px 0px 10px 0px rgba(255, 99, 71, 0.459);
}

.SplashScreen-container button:focus {
	outline: none;
}

.SplashScreen-container button:hover {
	color: tomato;
	background-color: #121212;
	transition: all 100ms ease-in-out;
}

.credits-container {
	width: 50%;
	height: 100%;
	z-index: 2;

	color: white;
	font-family: 'VT323', monospace;
	font-size: 20px;
	text-align: center;

	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.credits-container .Credits-Heading {
	font-size: 50px;
	color: white;
}

.credits-container table tbody tr td {
	width: 155px;
}

.credits-container .title {
	font-size: 20px;
	color: white;
}

.credits-container .heading {
	font-size: 30px;
	color: tomato;
	margin: 16px 0px;
	font-style: italic;
}

.credits-container .text {
	font-size: 20px;
	color: white;
}
