<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<title>Lunar Lander | 404</title>
		<link rel="stylesheet" href="/src/Views/404/404.css" />
	</head>

	<body style="margin: 0; padding: 0; overflow: hidden">
		<div class="Blocked-main">
			<div class="main-logo-text">
				<div class="logo crt">Lunar Lander</div>
				<div class="subtitle crt">See you in space, cowboy!</div>
				<div class="box"></div>
				<div class="box2 box"></div>
				<div class="box3 box"></div>
				<div class="box_mask"></div>
			</div>
			<div class="text">
				<div class="title crt">&emsp;404&emsp;</div>
				<div class="subtitle crt">An Error Occured!</div>
			</div>
			<div class="message crt">
				Looks Like you've reached the edge of space. There are no Easter Eggs out
				here. Go away.
			</div>
		</div>
	</body>
</html>
