.Error-container {
	width: 40%;

	border: 1px solid tomato;
	background-color: #121212;

	color: white;
	font-family: 'VT323', monospace;
	font-size: 20px;

	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;

	padding: 16px;
	border-radius: 3px;
}

.Error-container .text {
	position: relative;
	width: fit-content;
}

.Error-container .title {
	text-align: center;
	font-size: 70px;
}

.Error-container .subtitle {
	font-style: italic;
	font-size: 20px;
	text-align: center;
	color: tomato;

	position: absolute;
	bottom: 0;
	right: -10%;
}

.Error-container .message {
	margin-top: 16px;
	text-align: center;
}

.Error-container .buttons {
	margin-top: 16px;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.Error-container button {
	width: 100%;
	padding: 8px 32px;
	border-radius: 5px;
	background-color: white;
	text-align: center;
	margin: 4px;

	border: 1px solid tomato;
	background-color: transparent;

	box-shadow: 0px 0px 10px 0px #000000;

	color: white;
	font-size: 20px;
	font-family: 'VT323', monospace;
	cursor: pointer;
}

.Error-container .username button {
	background-color: #121212;
	box-shadow: 0px 0px 10px 0px rgba(255, 99, 71, 0.459);
}

.Error-container button:focus {
	outline: none;
}

.Error-container button:hover {
	color: tomato;
	background-color: #121212;
	transition: all 100ms ease-in-out;
}
