<div class="Gague-main">
	<div class="Song-Display"></div>

	<div class="Gague-container">
		<table>
			<tbody>
				<tr>
					<td class="text"></td>
					<td class="text"></td>
					<td class="text label">Velocity</td>
					<td class="text flip label">Systems</td>
					<td class="text"></td>
					<td class="text"></td>
				</tr>
				<tr>
					<td class="text label">X :</td>
					<td class="text velx">0.00</td>
					<td>
						<div class="shape velx">
							<div class="red">••••</div>
							<div class="yellow">••••</div>
							<div class="white">••••••••••••</div>
						</div>
					</td>
					<td>
						<div class="shape flip fuel">
							<div class="red">••••</div>
							<div class="yellow">••••</div>
							<div class="white">••••••••••••</div>
						</div>
					</td>
					<td class="text flip fuel">100.00</td>
					<td class="text label">: Fuel</td>
				</tr>
				<tr>
					<td class="text label">Y :</td>
					<td class="text vely">0.00</td>
					<td>
						<div class="shape vely">
							<div class="red">••••</div>
							<div class="yellow">••••</div>
							<div class="white">••••••••••••</div>
						</div>
					</td>
					<td>
						<div class="shape flip health">
							<div class="red">••••</div>
							<div class="yellow">••••</div>
							<div class="white">••••••••••••</div>
						</div>
					</td>
					<td class="text flip health">100.00</td>
					<td class="text flip label">: Health</td>
				</tr>
			</tbody>
		</table>
	</div>

	<div class="Song-Display"></div>
</div>
