.Gague-main {
	width: 100vw;

	position: absolute;
	bottom: 0;
	left: 0;

	display: flex;
	justify-content: space-between;
	align-items: flex-end;

	margin: 8px;
}

.Gague-FPS-text {
	padding: 8px;
	min-width: 100px;

	color: white;
	font-family: monospace;
	font-weight: bold;

	display: flex;
	justify-content: center;
	align-items: center;

	border: 1px solid white;
	border-radius: 5px;
}

.Gague-container {
	display: flex;
	justify-content: center;
	align-items: center;

	color: white;
	font-family: monospace;
	font-weight: bold;
	font-size: 21px;
}

.Gague-container table tbody tr .text {
	font-weight: bold;
	font-size: 15px;
}

.Gague-container table tbody tr td {
	text-align: left;
}

.Gague-container table tbody tr .text.flip {
	text-align: right;
}

.Gague-container table tbody tr .text.label {
	font-weight: 300;
	font-size: 12px;
}

.Gague-container table tbody tr .shape {
	display: flex;
	align-items: flex-start;
	justify-content: center;
}

.Gague-container table tbody tr .shape.flip {
	display: flex;
	align-items: flex-start;
	justify-content: center;
	transform: scaleX(-1);
}

.Gague-container table tbody tr .red {
	color: #ff8e8e;
}

.Gague-container table tbody tr .yellow {
	color: #ffe18e;
}

.Gague-container table tbody tr .white {
	color: #ceff8e;
}

.Song-Display {
	width: 100px;
	height: 100%;

	padding: 8px;
}
