<div class="Gague-main">
    <div class="Gague-FPS-text">30fps</div>

    <div class="Gague-container">
        <table>
            <tbody>
                <tr>
                    <td class="text"></td>
                    <td class="text"></td>
                    <td class="text">Velocity</td>
                    <td class="text flip">Systems</td>
                    <td class="text"></td>
                    <td class="text"></td>
                </tr>
                <tr>
                    <td class="text">X :</td>
                    <td class="text">1234567</td>
                    <td><div class="shape velx">
                        <div class="red">••••</div>
                        <div class="yellow">••••</div>
                        <div class="white">••••••••••••</div>
                    </div></td>
                    <td><div class="shape flip fuel">
                        <div class="red">••••</div>
                        <div class="yellow">••••</div>
                        <div class="white">••••••••••••</div>
                    </div></td>
                    <td class="text flip">100%</td>
                    <td class="text">: Fuel</td>
                </tr>
                <tr>
                    <td class="text">Y :</td>
                    <td class="text">1234567</td>
                    <td><div class="shape vely">
                        <div class="red">••••</div>
                        <div class="yellow">••••</div>
                        <div class="white">••••••••••••</div>
                    </div></td>
                    <td><div class="shape flip health">
                        <div class="red">••••</div>
                        <div class="yellow">••••</div>
                        <div class="white">••••••••••••</div>
                    </div></td>
                    <td class="text flip">100%</td>
                    <td class="text flip">: Health</td>
                </tr>
            </tbody>
        </table>
    </div>   
    
    <div class="Song-Display"></div> 
</div>