<div class="Radar-Container">
	<div
		style="
			width: 80%;
			height: 1px;
			background-color: white;

			border-radius: 10px;
		"
	>
		<ul class="Radar-Dot-Container">
			<li class="Radar-line"></li>
		</ul>
	</div>
	<div style="width: 80%; height: 100%">
		<div
			style="
				margin-top: 16px;
				padding: 8px;

				color: white;
				min-width: 100px;

				font-family: monospace;
				font-weight: bold;

				display: flex;
				justify-content: flex-end;
				align-items: center;

				border-radius: 5px;
			"
			class="HUD-Coordinate-text"
		>
			{ 112343212, 128817291 }
		</div>
	</div>

	<!-- <div
		style="
			padding: 8px;

			color: white;
			min-width: 100px;

			font-family: monospace;
			font-weight: 300;
			font-size: 15px;

			display: flex;
			justify-content: flex-end;
			align-items: center;

			border-radius: 5px;
		"
		class="HUD-Helper-text crt"
	>
		Come to a stop to collect resources
	</div> -->
</div>
