.Radar-Container {
	width: 100vw;

	position: absolute;
	top: 0;
	left: 0;

	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;

	padding: 16px 0px;
}

.Radar-Dot-Container {
	margin: 0;
	padding: 0;

	width: 100%;
	height: 100%;
	list-style: none;
	display: flex;

	align-items: center;
}

.Radar-dot {
	height: 15px;
	width: 15px;
	border-radius: 15px;
	position: absolute;
	border: 1px solid #abeeab;
	background-color: #202020;
}

.Radar-line {
	height: 25px;
	width: 1px;
	border-radius: 15px;
	position: absolute;
	background-color: white;
	list-style: none;
	transform: translate(40.5vw, 0px);
}

.Radar-otherPlayer {
	height: 15px;
	width: 15px;
	border-radius: 15px;
	position: absolute;
	border: 1px solid #eeabab;
	background-color: #202020;
}

.Radar-RS {
	height: 15px;
	width: 15px;
	border-radius: 15px;
	position: absolute;
	border: 1px solid #eeedab;
	background-color: #202020;
}

.typewriter h1 {
	overflow: hidden; /* Ensures the content is not revealed until the animation */
	border-right: 0.1em solid white; /* The typwriter cursor */
	white-space: nowrap; /* Keeps the content on a single line */
	margin: 0 auto; /* Gives that scrolling effect as the typing happens */
	letter-spacing: 0.15em; /* Adjust as needed */
	animation: typing 0.7s steps(40, end), blink-caret 0.75s step-end infinite;
}

/* The typing effect */
@keyframes typing {
	from {
		width: 0;
	}
	to {
		width: 100%;
	}
}

/* The typewriter cursor effect */
@keyframes blink-caret {
	from,
	to {
		border-color: transparent;
	}
	50% {
		border-color: white;
	}
}
