<div class="play-container slide-right">
	<div class="icons">
		<img src="../../Assets/Icons/close.svg" alt="" />
	</div>
	<div class="title crt">Registration</div>
	<div class="play-container-holder">
		<input
			type="text"
			placeholder="Username"
			class="Modal-input"
			maxlength="10"
		/>
		<table>
			<tbody>
				<tr>
					<td class="crt">A</td>
					<td class="crt">B</td>
					<td class="crt">C</td>
					<td class="crt">D</td>
					<td class="crt">E</td>
					<td class="crt">F</td>
					<td class="crt">G</td>
					<td class="crt">H</td>
					<td class="crt">I</td>
					<td class="crt">J</td>
					<td class="crt">K</td>
				</tr>
				<tr>
					<td class="crt">L</td>
					<td class="crt">M</td>
					<td class="crt">N</td>
					<td class="crt">O</td>
					<td class="crt">P</td>
					<td class="crt">Q</td>
					<td class="crt">R</td>
					<td class="crt">S</td>
					<td class="crt">T</td>
					<td class="crt">U</td>
					<td class="crt">V</td>
				</tr>
				<tr>
					<td class="crt">W</td>
					<td class="crt">X</td>
					<td class="crt">Y</td>
					<td class="crt">Z</td>
					<td class="crt">-</td>
					<td class="crt">_</td>
					<td class="crt">.</td>
					<td class="crt">!</td>
					<td class="crt">'</td>
					<td class="crt">"</td>
					<td class="crt">?</td>
				</tr>
				<tr>
					<td class="crt">0</td>
					<td class="crt">1</td>
					<td class="crt">2</td>
					<td class="crt">3</td>
					<td class="crt">4</td>
					<td class="crt">5</td>
					<td class="crt">6</td>
					<td class="crt">7</td>
					<td class="crt">8</td>
					<td class="crt">9</td>
					<td class="crt">&nbsp;</td>
				</tr>
			</tbody>
		</table>
		<div class="buttons">
			<button class="Modal-button">Del</button>
			<button class="Modal-button">End</button>
		</div>
	</div>
</div>
