<div class="credits-container slide-right">
	<div class="icons">
		<img src="../Assets/Icons/close.svg" alt="" />
	</div>

	<div class="credit-list">

		<table>
			<tbody>
				<tr>
					<td class="title "></td>
					<td class="heading "></td>
					<td class="crt heading">Developers</td>
					<td class="heading "></td>
					<td class="text socials">
					</td>
				</tr>
				<tr>
					<td class="title crt">Lead Developer</td>
					<td class="heading crt">:</td>
					<td class="text crt">Faraz Shaikh</td>
					<td class="heading crt">:</td>
					<td class="text crt socials">
						<img
							class="Github"

							data-URL="https://github.com/FarazzShaikh"
						/>
						<img
							class="Reddit"
							data-URL="https://www.reddit.com/user/ppictures"
						/>
						<img
							class="Instagram"
							data-URL="https://www.instagram.com/faar.az/"
						/>
						<img
							class="ArtStation"
							data-URL="https://www.artstation.com/farazshaikh"
						/>
					</td>
				</tr>
				<tr>
					<td class="title crt">Gameplay Developer</td>
					<td class="heading crt">:</td>
					<td class="text crt">Kishan Bapodra</td>
				</tr>
				<tr>
					<td class="title crt">Back-end Developer</td>
					<td class="heading crt">:</td>
					<td class="text crt">Mostafa Elsayed</td>
				</tr>
				<tr>
					<td class="title crt">Front-end Developer</td>
					<td class="heading crt">:</td>
					<td class="text crt">Gaurav Nayar</td>
				</tr>
				<tr>
					<td class="title "></td>
					<td class="heading "></td>
					<td class="crt heading">Music</td>
					<td class="heading "></td>
					<td class="text socials">
					</td>
				</tr>
				<tr>
					<td class="title crt">Background Music</td>
					<td class="heading crt">:</td>
					<td class="text crt">HOME</td>
					<td class="heading crt">:</td>
					<td class="text crt socials">
						<img
							class="Store"
							data-URL="https://music.midwestcollective.us/album/before-the-night"
						/>
					</td>
				</tr>
				<tr>
					<td class="title crt">Sound FX</td>
					<td class="heading crt">:</td>
					<td class="text crt">Various Artists</td>
					<td class="heading crt">:</td>
					<td class="text crt socials">
						<img
							class="Store"
							data-URL="https://itch.io/game-assets/tag-sound-effects"
						/>
					</td>
				</tr>
				<tr>
					<td class="title "></td>
					<td class="heading "></td>
					<td class="crt heading">Assets</td>
					<td class="heading "></td>
					<td class="text socials">
					</td>
				</tr>
				<tr>
					<td class="title crt">Crashed Ships</td>
					<td class="heading crt">:</td>
					<td class="text crt">Redditor</td>
					<td class="heading crt">:</td>
					<td class="text crt socials">
						<img
							class="Reddit"
							data-URL="https://www.reddit.com/user/PlanetCentauri/"
						/>
						<img
							class="Twitter"
							data-URL="https://twitter.com/PlanetCentauri"
						/>
					</td>
				</tr>
				<tr>
					<td class="title crt">Other Sprites</td>
					<td class="heading crt">:</td>
					<td class="text crt">Various Artists</td>
					<td class="heading crt">:</td>
					<td class="text crt socials">
						<img
							class="Store"
							data-URL="https://itch.io/game-assets/tag-sound-effects"
						/>
					</td>
				</tr>
			</tbody>
		</table>
		</table>
	</div>
</div>
