<div class="objectives-container slide-right">
	<div class="icons">
		<img src="../Assets/Icons/close.svg" alt="" />
	</div>
	<div class="text">
		Fly Around the baren lunar landscape and collect as many resources as you can!
	</div>
	<table>
		<tbody>
			<tr>
				<td class="title">Resources</td>
				<td>&nbsp;</td>
				<td class="title">Symbol</td>
				<td>&nbsp;</td>
				<td class="title">Discription</td>
			</tr>
			<tr>
				<td>Currency</td>
				<td>&nbsp;</td>
				<td><p>&nbsp;W</p></td>
				<td>&nbsp;</td>
				<td>Buys Fuel</td>
			</tr>
			<tr>
				<td>Fuel</td>
				<td>&nbsp;</td>
				<td><p>&nbsp;F</p></td>
				<td>&nbsp;</td>
				<td>Needed to activate boosters</td>
			</tr>
			<tr>
				<td>Recharge Stations</td>
				<td>&nbsp;</td>
				<td>
					<video autoplay muted loop plays-inline style="width: 100px">
						<source src="../Assets/RechargeStation.webm" />
					</video>
				</td>
				<td>&nbsp;</td>
				<td>Purchase Fuel</td>
			</tr>
			<tr>
				<td>Crashed Ships</td>
				<td>&nbsp;</td>
				<td>
					<video autoplay muted loop plays-inline style="width: 300px">
						<source src="../Assets/Ships.webm" />
					</video>
				</td>
				<td>&nbsp;</td>
				<td>Scavange for Resources.</td>
			</tr>
		</tbody>
	</table>
</div>
